input[type=text] {
    width: 100%;
}

.form-check {
    display: inline-block;
    margin-right: 1em;
}


.card-img {
    display: block;
    border-radius: 100%;
    margin: 1em auto;
    height: 7em;
    width: 7em;
}

.dev-tech {
    display: inline-block;
    height: 2em;
    width: 2em;
    background-size: contain;
    margin-right: 1em;
}
.python {
    background-image: url('python.png');
}

.java {
    background-image: url('java.png');
}

.javascript {
    background-image: url('javascript.png');
}

#filter-options {
    text-align: right;
}

h1, h5 {
    margin: 1em auto;
}

.card {
    margin: 0.5em 0;
}